/* * {
  border: 5px solid blue;
} */

body {
  background-color: #ffffff;
  font-weight: 100;
  color: #666666;
  margin: auto;
  /* width: 100vw; */
  max-width: 1920px;
}

/* .view {
} */

.portfolio,
.view {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.headline-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 50px;
  flex-grow: 1;
}

.detail-row>div:first-child {
  width: 65%;
}

.product-detail h1 {
  word-spacing: -2px;
  font-size: 40px;
  font-weight: bold;
  color: #191919;
  -webkit-font-smoothing: antialiased;
}

.product-detail h2 {
  font-weight: normal;
  font-size: 20px;
  color: #888;
  padding: 5px 0;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
}

.no-tech-icons {
  width: 0%;
}

#image-stack {
  min-width: 100%;
  min-height: 628.23px;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

#image-stack>* {
  flex-grow: 1;
}

.product-detail>* {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.product-detail h1,
.product-detail h2 {
  font-family: "Helvetica Neue",
    Helvetica,
    Sans-serif;
}

.product-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.product-image {
  flex-grow: 1;
}

.product-detail {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  flex-grow: 1;
}

.hero-image {
  width: 100%;
  /* height: 100%;
  animation: fade 3s infinite; */
}

.details-panel {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.tech-icons-panel {
  flex-basis: 40%;
}

.hide-panel {
  display: none;
}

.expand-panel {
  flex-basis: 100%
}

.portfolio,
.view h1 {
  /* font-weight: 100; */
}

.product-panel {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /* toggle */
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

}

.product-info>* {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}



.product-icons {
  align-items: center;
}

.product-icons>* {
  margin: 0 10px;
}

.svg-icon {
  width: 50px;
  height: 50px;
  filter: invert(32%) sepia(19%) saturate(18%) hue-rotate(23deg) brightness(97%) contrast(92%);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.icon i {
  font-size: 50px;
}

.icon p {
  font-size: 0.75rem;
}

.carousel-frame {
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;

  /* background-image: url("/static/assets/products/invoicer.PNG");
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.hero-image-container {
  flex-direction: row;
  width: 1000px;
  height: 550px;
  background-color: #ffffff;
  padding: 3px;
}

.product-image {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* width: 100%; */
}

.product-image>img {
  min-height: 550px;
  flex-grow: 1;
  /* width: 100%;
  height: 100%; */
}



.built-with {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github-btn {
  cursor: pointer;
  padding: 10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  border: none;
}


a.github {
  padding: 12px 14px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  width: 125px;
  border-radius: 3px;
  background: #26ae90;
  font-size: 1rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 20px 0;
  text-decoration: none;
  /* padding-bottom: 12px; */
}

a.github span {
  margin-bottom: 5px;
  font-family: 'VT323', monospace;
}

a.github i {
  /* margin-top: 15px; */
  margin: 0 7px;
  color: #ffffff;
}

.github-button {
  padding: 30px 0;
}

.strapline {
  padding: 5px 20px;
}

/* toggle */
/* #toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
} */

#toggle:checked~.product-panel {
  top: 0;
}

/* .product-panel {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding: 5em 3em;
} */

#toggle:checked+label:after {
  content: "Close"
}

#toggle+label {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 20px 50px;
  transition: all 500ms ease;
}