@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-weight: 100;
  color: #666666;
  margin: auto;
  /* width: 100vw; */
  max-width: 1920px;
}

section.main-panel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00031c;
  padding-bottom: 50px;
}

section.main-panel h1 {
  font-family: 'Silkscreen', Sans-serif;
  color: #eff542;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
  line-height: 6rem;
}

.browser {
  width: 100%;
}

.easter-egg {
  max-width: 600px;
}

@keyframes slide-up {
  from {
    opacity: 0.2;
    top: 100px;
  }

  to {
    opacity: 1;
    top: 20px;
  }

}

.easter-egg {
  display: flex;
  flex-direction: column;
}

.easter-egg h2 {
  font-family: 'Silkscreen', Sans-serif;
  color: #eff542;
}

.easter-egg p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.75rem;
}

.easter-egg-row>p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.easter-egg a {
  color: #eff542;
}

.easter-egg-icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(252deg) brightness(106%) contrast(104%);
}


.browser-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}

.browser-header {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #eee;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.browser-button {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: blue;
  margin: 5px;
}



.browser-bottom-row {
  display: flex;
  flex-direction: row;
}

.browser-bottom-row>* {
  margin: 10px;
}

.browser-btn {
  text-align: center;
  border-radius: 5px;
  width: 10%;
  height: 15px;
  background-color: #aaaaaa;
}

.btn-github {
  background-color: #111;
}

.browser-btn i {
  color: #fff;
  font-size: 0.75rem;
}

.browser-text {
  border-radius: 50px;
  width: 55%;
  height: 15px;
  background-color: #aaaaaa;
}

.browser-body h4 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 200;
}


section.main-panel .navbar {
  top: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  background: #00031c;
  transition: all 0.5s ease;
  margin-bottom: 30px;
}

section.main-panel .navbar i {
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

section.main-panel .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0 20px;
}

.portfolio,
.view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}


.triangle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.triangle {
  height: 0;
  width: 0;
  border: 20px solid;
  border-top-color: #00031c;
  border-right-color: #fff;
  border-left-color: #fff;
  border-bottom-color: #fff;
}

.carousel-panel-hidden {
  display: none;
}

.item-fade {
  vertical-align: top;
  transition: opacity 3s;
  opacity: 0;
}

.background-fade {
  vertical-align: top;
  transition: opacity 5s;
  opacity: 0;
}

.headline {
  display: flex;
  flex-direction: row;
}

.headline>* {
  word-wrap: break-word;
  margin-bottom: 50px;
}

.portfolio-projects {
  padding: 0 15px;
}

.section-heading h3 {
  font-family: "Pathway Gothic One", Arial, Helvetica, sans-serif;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 2.5rem;
  font-weight: 200;
}

.profile p {
  font-family: "Noto Sans";
  font-size: 0.75rem;
  color: #666;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.portfolio-projects-detail {
  background-color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-snap-align: center;
  gap: 3rem;
  overflow-y: auto;
  padding: 0 10px;
}

.portfolio-projects-detail>div {
  width: 350px;
}

/* .portfolio-projects-detail h5 {
  font-family: 'Silkscreen', Sans-serif;
  color: #eff542;
} */

.product-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-title-row h5 {
  font-family: "Pathway Gothic One";
  font-size: 1.6rem;
  color: #333;
  font-weight: 200;
  margin-bottom: 10px;
}

@media only screen and (max-width: 999px) {
  .headline {
    max-width: 300px;
  }

  section.main-panel .content {
    align-items: center;
  }

  .icon-bar {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  section.main-panel {
    flex-direction: row;
  }

  section.main-panel .navbar {
    padding-top: 50px;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    margin-bottom: 0px;
    padding-left: 10px;
  }

  section.main-panel .navbar i {
    margin-bottom: 30px;
  }

  .headline {
    max-width: 310px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
  }

  .headline>* {
    margin-bottom: 0px;
  }

  .portfolio-projects-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  .browser {
    max-width: 600px;
  }

  .browser-main-panel {
    min-height: 271px;
  }

  .intro-slide {
    min-height: 271px;
  }

  section.main-panel .content {
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {

  .portfolio,
  .view {
    flex-direction: column;
  }
}

.intro-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00031c;
}

.intro-slide-hidden {
  display: none;
}

.react-logo {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.lower-panel {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Poppins", Sans-serif,
    Helvetica,
    Sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}

.profile-header {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.profile-header>div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: flex-end;
}

.profile-header img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.profile .name {
  font-family: "Pathway Gothic One", Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1.75rem;
  font-weight: 200;
}

.profile-detail {
  width: 100%;
  background-color: #ffffff;
}


.profile-sign-off {
  margin-top: 15px;
}

.product-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.product-heading {
  font-size: 1rem;
  color: #333;
}

.product-section-content {
  font-family: "Noto Sans";
  font-size: 0.75rem;
  color: #666;
}

@media only screen and (min-width: 1300px) {
  .profile-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: 250px;
    justify-content: flex-end;
  }

  .profile-detail {
    width: 100%;
    background-color: #ffffff;
    flex-grow: 2;
    flex-basis: 900px;
  }

  .profile {
    padding: 0 100px;
    max-width: unset;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 20s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.profile {
  padding: 15px;
}

.profile p {
  padding-bottom: 20px;
  font-family: "Noto Sans";
  font-size: 0.85rem;
  line-height: 1.75rem;
  color: #666;
}

.profile-detail h5 {
  margin-bottom: 10px;
  /* font-size: 2rem; */
  font-size: 1rem;
  border-bottom: 1px solid #ffffff;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  border: 1px solid #ddd;
  width: 100%;
}

.product-image>img {
  min-height: 550px;
  flex-grow: 1;
}

.solution-text {
  margin-bottom: 15px;
}

.product-detail {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  flex-grow: 1;
}

.experience h3 {
  font-family: "Pathway Gothic One";
  color: #333;
  font-size: 3rem;
  font-weight: 200;
}

.experience h6 {
  font-family: "Pathway Gothic One";
  color: #333;
  font-size: 1.25rem;
  font-weight: 400;
}

.hero-image {
  width: 100%;
  cursor: pointer;
}

.details-panel {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}


.hide-panel {
  display: none;
}

.product-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 10px;
  background-color: #fff;
  height: 100%;
}

.no-height {
  height: unset;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-info>* {
  font-family: "Pathway Gothic One", Arial, Helvetica, sans-serif;
  flex-grow: 1;
  margin: 5px 0;
  width: 100%;
}

.product-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 15px 0;
}

.product-icons label {
  font-size: 0.75rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.icon-container label {
  color: #999999;
}

.product-icons i {
  color: #999999;
  font-size: 50px;
}

.svg-icon {
  width: 50px;
  height: 50px;
  filter: invert(66%) sepia(0%) saturate(1%) hue-rotate(57deg) brightness(92%) contrast(91%);
  /* filter: invert(32%) sepia(19%) saturate(18%) hue-rotate(23deg) brightness(97%) contrast(92%); */
  /* filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(282deg) brightness(105%) contrast(101%); */
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.icon i {
  font-size: 50px;
}

.icon p {
  font-size: 0.75rem;
}

.portfolio-github {
  font-size: 25px;
  color: #999;
}

.socials>a>i {
  margin-right: 10px;
  font-size: 20px;
  color: #f70552;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid #999;
}

a.github {
  padding: 12px 14px;
  padding: 7px 14px;
  color: #FFF;
  line-height: 20px;
  font-size: 12px;
  width: 125px;
  border-radius: 3px;
  background: #999;
  /* background: #26ae90; */
  font-size: 1rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 20px 0;
  text-decoration: none;
}

a.github i {
  margin: 0 7px;
  color: #ffffff;
}

.github-button {
  padding: 30px 0;
}

.strapline {
  padding: 5px 20px;
}

@media only screen and (max-width: 1000px) {

  #browser-main-panel,
  .intro-slide {
    box-sizing: border-box;
    min-height: 49.8vw;
  }
}

@media only screen and (max-width: 1300px) {
  .role-row {
    display: block;
  }

  .role-column {
    display: none;
  }
}

@media only screen and (min-width: 1300px) {
  .profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .profile-detail {
    padding-left: 20px;
    max-width: 900px;
    border-left: 3px solid #eee;
  }

  .profile-wrapper>* {
    margin: 0 15px;
  }

  .experience-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 250px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .experience-detail h3 {
    font-size: 3rem;
  }

  .experience-detail a,
  .experience-detail a:visited {
    color: #333;
  }

  .role-row {
    display: none;
  }

  .role-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .role-column h6 {
    font-size: 1rem;
  }
}

.analysis-headline {
  flex-grow: 1;
}

.analysis-headline h1 {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.excel-viewer-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 50px;
  padding-right: 50px;
}

section.analysis-page {
  display: flex;
  flex-direction: column;
}

.excel-viewer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: black;
  overflow: scroll;
}

.viewer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.field-size {
  min-width: 80px;
  max-width: 80px;
}

.viewer-frame {
  display: flex;
  background-color: #ddd;
  justify-content: center;
  padding: 3px;
}

.index-field {
  min-width: 40px;
}

.custom-field {
  background-color: yellow;
}

input.field-size {
  border: 1px solid #999;
  padding-left: 3px;
}

.formula-bar {
  padding: 15px;
  background-color: #ddd;
  flex-grow: 1;
}

.formula-bar input {
  height: 30px;
  font-size: 1.25rem;
  padding-left: 5px;
  width: 100%;
}